# Specific to OpenFaas
template/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of go coverage
*.out

# IDE-related
.idea/


# terraform-related
credentials.json
.terraform.lock.hcl
.terraform.tfstate.lock.info
*.tfstate
*.backup
.terraform
